#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.profile-img {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
}

.topics .main-topic {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

.sub-topic {
    color: bisque;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.lesson {
    color: chartreuse;
    font-size: 1.75rem;
    font-weight: 600;
    /* text-shadow: 2px 5px 4px whitesmoke; */
}

.lesson-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.lesson-list ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lesson-list li {
    margin-bottom: 10px;
}

.lesson-list a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 200;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.lesson-list a:hover {
    color: rgb(220, 217, 20);
}

.exercise {
    color:brown;
    font-size: 1.75rem;
    font-weight: 600;
    /* text-shadow: 2px 5px 4px whitesmoke; */
}

.exercise-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.exercise-list ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.exercise-list li {
    margin-bottom: 10px;
}

.exercise-list a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 200;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.exercise-list a:hover {
    color: rgb(220, 217, 20);
}